.container {
    background-color: rgb(0, 181, 253);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(clima.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

label,
input,
select {
    display: block;
    margin: 8px 0;
}

button {
    margin-top: 15px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.555);
}

button:hover {
    background-color: blue;
    color: white;
}

input {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 6px;
    font-size: 14px;
}

select {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 6px;
    font-size: 14px;
}

#resultado {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}